<div id="teste">
    <div id="cardPai" class="card" style="width: 14rem;">
        <div class="card-body mr-auto">
            <div id="Pagas" class="card text-white  bg-success mb-1" style="max-width: 12rem;">
                <div class="card-body">
                    <h6 class="card-text ">R$ 2000,00</h6>
                    <p class="card-text">Pagas</p>
                </div>
            </div>
            <div id="Apagar" class="card text-white   goup bg-secondary mb-1" style="max-width: 12rem;">
                <div class="card-body">
                    <div id="DivIcone">
                        <span class="material-icons">
                      attach_money
                      </span>
                    </div>
                    <div id="DivIcone">
                        <h6 class="card-text ">R$ 2000,00</h6>
                        <p class="card-text">A pagar</p>
                    </div>
                </div>
            </div>
            <div class="card text-white  bg-success mb-1" style="max-width: 12rem; max-height: rem;">
                <div class="card-body">
                    <h6 class="card-text">R$ 2000,00</h6>
                    <p class="card-text">Total Geral</p>
                </div>
            </div>
        </div>
    </div>